<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">MyStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home/product/gallery">Products</a>
        </li>
        
        <li class="nav-item ">
            <a class="nav-link" routerLink="/home/product/cart">Cart</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>My Account</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Profile</button>
            <a [routerLink]="['/home/user/list']" routerLinkActive="router-link-active"  ngbDropdownItem>Address</a>
            <a [routerLink]="['/home/order/history']" routerLinkActive="router-link-active"  ngbDropdownItem>My Order</a>
            <button (click)="onLogout()" ngbDropdownItem>LogOut</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>