<div class="container">
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-category-list></app-category-list> -->
  
  <!-- <div class="row">
    <div class="col-md-4">
      <app-category-add></app-category-add>
    </div>
    <div class="col-md-8">
      <app-category-list></app-category-list>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4">
      <app-product-add></app-product-add>
    </div>
    <div class="col-md-8">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>