<h3 class="header">Sign In</h3>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form signin">
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button (click)="signin()" class="btn btn-info">Sign In</button>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>    

    