<h5>Sign In</h5>

<div class="form">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
            </div>
        
            <div class="form-group">
                <button (click)="onSignIn()" class="btn btn-success">Sign Up</button>
                <button (click)="onCancel()" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>