<h2 class="header">Product List</h2>

<table class="table table-hover table-striped table-bordered" style="text-align: center;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th style="width: 165px;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category_id}}</td>
            <td>
                <button (click)="onEdit(product)" type="button" class="btn btn-warning">Edit</button>
                <button (click)="onDelete(product)" type="button" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
