<h5>Sign Up</h5>

<div class="form">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="">First Name</label>
                <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="First Name">
            </div>
        
            <div class="form-group">
                <label for="">Last Name</label>
                <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Last Name">
            </div>
        
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
            </div>
        
            <div class="form-group">
                <label for="">Phone Number</label>
                <input [(ngModel)]="phone" type="tel" class="form-control" placeholder="Telephone Number">
            </div>
        
            <div class="form-group">
                <label for="">Address</label>
                <textarea [(ngModel)]="address" class="form-control" cols="30" rows="10" placeholder="Address"></textarea>
            </div>
        
            <div class="form-group">
                <button (click)="onSignUp()" class="btn btn-success">Sign Up</button>
                <button (click)="onCancel()" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>