<h2>Eight Component</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th style="width: 170px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td>
                    <button (click)="onEdit(user)" type="button" class="btn btn-warning">Edit</button>
                    <button (click)="onDelete(user)" type="button" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
