<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-category-add></app-category-add>
    </div>
    <div class="col-md-8">
      <app-category-list></app-category-list>
    </div>
  </div>
</div>