<h3 class="header">Orders</h3>

<h5 *ngIf="orders.length==0">There are no orders</h5>
<table *ngIf="orders.length > 0" class="table table-striped table-hover table-borderd">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; let i = index">
            <th>{{ i + 1 }}</th>
            <th>{{order.created_on.split('T')[0]}}</th>
            <th>{{order.totalAmount}}</th>
            <th>
                <h5><span *ngIf="order.orderState == 1" class="badge badge-primary">confirmed</span></h5>
                <h5><span *ngIf="order.orderState == 2" class="badge badge-secondary">In Packaging</span></h5>
                <h5><span *ngIf="order.orderState == 3" class="badge badge-warning">Dispatched</span></h5>
                <h5><span *ngIf="order.orderState == 4" class="badge badge-warning">Out For Delivery</span></h5>
                <h5><span *ngIf="order.orderState == 5" class="badge badge-success">Delivered</span></h5>
                <h5><span *ngIf="order.orderState == 6" class="badge badge-danger">Cancelled</span></h5>
            </th>
            <th>
                <button class="btn btn-info">Details</button>
                <div style="margin-left: 10px;"ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Update Status</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button (click)="onUpdateSatus(order,2)" ngbDropdownItem>In Packaging</button>
                      <button (click)="onUpdateSatus(order,3)" ngbDropdownItem>Dispatched</button>
                      <button (click)="onUpdateSatus(order,4)" ngbDropdownItem>Out For Delivery</button>
                      <button (click)="onUpdateSatus(order,5)" ngbDropdownItem>Delivered</button>
                    </div>
                  </div>
            </th>
        </tr>
    </tbody>
</table>