<h3 class="header">Categories</h3>
<button (click)="onAdd()" class="btn btn-info float-right" style="margin-bottom: 20px;">Add</button>
<table class="table table-striped table-hover table-borderd">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Description</th>
            <th style="width: 140px;">Actons</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i = index">
            <th>{{ i + 1 }}</th>
            <th>{{category.title}}</th>
            <th>{{category.description}}</th>
            <th>
                <button (click)="onEdit(category)" type="button" class="btn btn-sm btn-warning">Edit</button>
                <button (click)="onDelete(category)" type="button" class="btn btn-sm btn-danger" style="margin-left: 10px;">Delete</button>
            </th>
        </tr>
    </tbody>
</table>