<h5>Product Management</h5>


<div class="row">
    <!-- get inpur from user -->
    <div class="col-md-4">
        <h5>Add Product</h5>
        
        <div class="form">

            <div class="form-group">
                <label for="">Title</label>
                <input [(ngModel)]="title" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <textarea [(ngModel)]="description" cols="30" rows="3" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="">Price</label>
                <input [(ngModel)]="price" type="number" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Company</label>
                <select [(ngModel)]="company" class="form-control" required="required">
                    <option value="Apple">Apple</option>
                    <option value="One Plus">One Plus</option>
                    <option value="Samsung">Samsung</option>
                </select>
                
            </div>

            <div class="form-group">
                <button (click)="onAdd()" class="btn btn-success">Add</button>
                <button (click)="onCancel()" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        
    </div>

    <!-- list products -->
    <div class="col-md-7 col-md-offset-1">
        <h5>List of Products</h5>
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Title</th>
                    <th>price</th>
                    <th>description</th>
                    <th>company</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.company}}</td>
                    <td>
                        <button (click)="onDelete(i)" type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
