<h2 class="header">Add Product</h2>

<div class="form">
    <div class="form-group">
        <label for="">Title</label>
        <input [(ngModel)]="title" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="">Description</label>
        <textarea [(ngModel)]="description" cols="30" rows="2" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="">price</label>
        <input [(ngModel)]="price" type="number" class="form-control">
    </div>

    <div class="form-group">
        <label for="">Category</label>
        <select [(ngModel)]="category" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
        </select>      
    </div>

    <div class="form-group">
        <button (click)="onAdd()" type="button" class="btn btn-success">Add</button>
        <button (click)="onCancel()" type="button" class="btn btn-danger float-right">Cancel</button>
    </div>
</div>

