<h2>Fifth Component</h2>

<div [style.background-color]="bgColor" class="box"></div>

<hr>
<!-- <button (click)="setColor('red')" type="button" class="btn btn-success" style="margin-right: 10px;" >Red</button>
<button (click)="setColor('blue')" type="button" class="btn btn-success" style="margin-right: 10px;" >Blue</button>
<button (click)="setColor('yellow')" type="button" class="btn btn-success" style="margin-right: 10px;" >Yellow</button>
<button (click)="setColor('green')" type="button" class="btn btn-success" style="margin-right: 10px;" >Green</button>
<button (click)="setColor('orange')" type="button" class="btn btn-success" style="margin-right: 10px;" >Orange</button>
<button (click)="setColor('brown')" type="button" class="btn btn-success" style="margin-right: 10px;" >Brown</button> -->


<button (click)="bgColor = 'red'" type="button" class="btn btn-success" style="margin-right: 10px;" >Red</button>
<button (click)="bgColor = 'blue'" type="button" class="btn btn-success" style="margin-right: 10px;" >Blue</button>
<button (click)="bgColor = 'yellow'" type="button" class="btn btn-success" style="margin-right: 10px;" >Yellow</button>
<button (click)="bgColor = 'green'" type="button" class="btn btn-success" style="margin-right: 10px;" >Green</button>
<button (click)="bgColor = 'orange'" type="button" class="btn btn-success" style="margin-right: 10px;" >Orange</button>
<button (click)="bgColor = 'brown'" type="button" class="btn btn-success" style="margin-right: 10px;" >Brown</button>
