<h2>Third Component</h2>

<!-- list of category -->
<!-- <div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">Electronics</li>
            <li class="list-group-item">Home Decore</li>
            <li class="list-group-item">Mobiles</li>
            <li class="list-group-item">Computer</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h4>This is list of products</h4>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li (click)="setCategory(1)" [class.active] = "category == 1" class="list-group-item">Electronics</li>
            <li (click)="setCategory(2)" [class.active] = "category == 2" class="list-group-item">Home Decore</li>
            <li (click)="setCategory(3)" [class.active] = "category == 3" class="list-group-item">Mobiles</li>
            <li (click)="setCategory(4)" [class.active] = "category == 4" class="list-group-item">Computer</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h4>This is list of products</h4>
    </div>
</div> -->
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li (click)="category = 1" [class.active] = "category == 1" class="list-group-item">Electronics</li>
            <li (click)="category = 2" [class.active] = "category == 2" class="list-group-item">Home Decore</li>
            <li (click)="category = 3" [class.active] = "category == 3" class="list-group-item">Mobiles</li>
            <li (click)="category = 4" [class.active] = "category == 4" class="list-group-item">Computer</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h4>This is list of products</h4>
    </div>
</div>