<h2 class="header">Category List</h2>

<table class="table table-hover table-striped table-bordered" style="text-align: center;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th style="width: 165px;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{category.title}}</td>
            <td>{{category.description}}</td>
            <td>
                <button (click)="onEdit(category)" type="button" class="btn btn-warning">Edit</button>
                <button (click)="onDelete(category)" type="button" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

