<h1>This is person component</h1>
<div class="person">
    <div><strong>Person name    </strong>: {{personName}}</div>
    <div><strong>Person address </strong>: {{personAddress}}</div>
    <div><strong>Person age     </strong>: {{personAge}}</div>
    <div><strong>Person phone   </strong>: {{personPhone}}</div>
    <div><strong>Person email   </strong>: {{personEmail}}</div>
</div>