h1{
    color:darkgray;
}

strong{
    color: firebrick;
}

div.person{
    border: solid 4px blue;
    padding: 20px;
    width: 300px;
    background-color: cornsilk;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px #2178EB;
}