
<div class="modal-header">
    <h3 >Edit Brand</h3>
</div>

<div class="form">
    <div class="modal-body">
        <div class="form-group">
            <label for="">Title</label>
            <input [(ngModel)]="title" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea [(ngModel)]="description" rows="5" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button (click)="onUpdate()" type="button" class="btn btn-success">Update</button>
        <button (click)="onCancel()" type="button" class="btn btn-danger float-right" style="margin-left: 10px;">Cancel</button>
    </div>
</div>