<h3 class="header">Users</h3>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped table-hover table-borderd">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th style="width: 120px;">Actions</th>
            </thead>
            <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email}}</td>
                        <!-- <td>{{user.status}}</td> -->
                        <td>
                            <button (click)="setStatus(user,2)" *ngIf="user.status == 1" class="btn btn-sm btn-danger">Suspended</button>
                            <button (click)="setStatus(user,1)" *ngIf="user.status == 2" class="btn btn-sm btn-info">Active</button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>