<div class="modal-header">
    <h3 class="header">Select Address</h3>
</div>
<div class="modal-body">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <th>No</th>
            <th>Title</th>
            <th>Line 1</th>
            <th>Line 2</th>
            <th>City</th>
            <th>State</th>
            <th>ZipCode</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let address of addresses; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{address.title}}</td>
                <td>{{address.line1}}</td>
                <td>{{address.line2}}</td>
                <td>{{address.city}}</td>
                <td>{{address.state}}</td>
                <td>{{address.zipCode}}</td>
                <td>
                    <button (click)="onSelect(address)" type="button" class="btn btn-sm btn-info">Select</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button (click)="onAdd()" class="btn btn-info float-right">Add Address</button>
    <button (click)="onCancel()" type="button" class="btn btn-danger float-right" style="margin-left: 10px;">Cancel</button>
</div>
