<div class="modal-header">
    <h3>Update Product</h3>
</div>
<div class="modal-body">
    <div class="row">
        <!-- offset-md-2 -->
            <div class="form-group col-md-6">
                <label for="">Title</label>
                <input [(ngModel)]="title" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="">Price</label>
                <input [(ngModel)]="price" type="number" class="form-control">
            </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Category</label>
            <select [(ngModel)]="category" class="form-control">
                <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="">Brand</label>
            <select [(ngModel)]="brand" class="form-control">
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.title}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Description</label>
            <textarea [(ngModel)]="description" rows="2" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="">Select Product Image</label>
            <input (change)="onImageSelect($event)" type="file" class="form-control" accept="image/*">
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button (click)="onUpdate()" type="button" class="btn btn-success">Update</button>
        <button (click)="onCancel()" type="button" class="btn btn-danger float-right" style="margin-left: 10px;">Cancel</button>
    </div>
</div>