<h2 class="header">Category List</h2>

<table class="table table-stripped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{category.title}}</td>
            <td>{{category.description}}</td>
            <td>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger" style="margin-left: 10px;">delete</button>
            </td>
        </tr>
    </tbody>
</table>