<h2>Seventh Component</h2>
<!-- product array display using ngFor -->
<div class="container">
    <div class="product" *ngFor="let product of products">
        <div><strong>id:</strong>{{product.id}}</div>
        <div><strong>title:</strong>{{product.title}}</div>
        <div><strong>price:</strong>{{product.price}}</div>
        <div><strong>description:</strong>{{product.description}}</div>
    </div>
</div>


<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="product">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let product of products">
            <div><strong>id:</strong>{{product.id}}</div>
            <div><strong>title:</strong>{{product.title}}</div>
            <div><strong>price:</strong>{{product.price}}</div>
            <div><strong>description:</strong>{{product.description}}</div>
        </li>
    </ul>
    
</div>
