div.product{
    width: 230px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: cornsilk;
    border: black 3px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #ccc;
}