<h3 class="header">My Orders</h3>

<h5 *ngIf="orders.length==0">There are no orders</h5>
<table *ngIf="orders.length > 0" class="table table-striped table-hover table-borderd">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; let i = index">
            <th>{{ i + 1 }}</th>
            <th>{{order.created_on.split('T')[0]}}</th>
            <th>{{order.totalAmount}}</th>
            <th>
                <!-- orderState:    1: confirmed
                                    2: in packaging
                                    3: dispatched
                                    4: out_for_delivery
                                    5: delivered
                                    6: cancelled 
                -->
                <!-- {{order.orderState}} -->
                <h5><span *ngIf="order.orderState == 1" class="badge badge-primary">confirmed</span></h5>
                <h5><span *ngIf="order.orderState == 2" class="badge badge-secondary">In Packaging</span></h5>
                <h5><span *ngIf="order.orderState == 3" class="badge badge-warning">Dispatched</span></h5>
                <h5><span *ngIf="order.orderState == 4" class="badge badge-warning">Out For Delivery</span></h5>
                <h5><span *ngIf="order.orderState == 5" class="badge badge-success">Delivered</span></h5>
                <h5><span *ngIf="order.orderState == 6" class="badge badge-danger">Cancelled</span></h5>
            </th>
            <th>
                <button class="btn btn-info">Details</button>
                <button (click)="onCancelOrder(order)" *ngIf="order.orderState == 1" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
            </th>
        </tr>
    </tbody>
</table>