<h2>Sixth Component</h2>
<hr>
<!-- single product display -->
<div class="container">
    <div><strong>id:</strong>{{product.id}}</div>
    <div><strong>title:</strong>{{product.title}}</div>
    <div><strong>price:</strong>{{product.price}}</div>
    <div><strong>description:</strong>{{product.description}}</div>
</div>
<hr>
<!-- product array display - normal method -->
<div class="container">
    <div><strong>id:</strong>{{products[0].id}}</div>
    <div><strong>title:</strong>{{products[0].title}}</div>
    <div><strong>price:</strong>{{products[0].price}}</div>
    <div><strong>description:</strong>{{products[0].description}}</div>
<div></div>
    <div><strong>id:</strong>{{products[1].id}}</div>
    <div><strong>title:</strong>{{products[1].title}}</div>
    <div><strong>price:</strong>{{products[1].price}}</div>
    <div><strong>description:</strong>{{products[1].description}}</div>
</div>
<hr>

<!-- product array display using ngFor -->
<div class="container">
    <div *ngFor="let product of products">
        <div><strong>id:</strong>{{product.id}}</div>
        <div><strong>title:</strong>{{product.title}}</div>
        <div><strong>price:</strong>{{product.price}}</div>
        <div><strong>description:</strong>{{product.description}}</div>
    </div>
</div>
