<h3 class="header">My Addresses</h3>
<!-- line1,line2,city,state,zipCode,title -->
<button (click)="onAdd()" class="btn btn-info float-right" style="margin-bottom: 20px;">Add</button>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <th>No</th>
        <th>Title</th>
        <th>Line 1</th>
        <th>Line 2</th>
        <th>City</th>
        <th>State</th>
        <th>ZipCode</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let address of addresses; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{address.title}}</td>
            <td>{{address.line1}}</td>
            <td>{{address.line2}}</td>
            <td>{{address.city}}</td>
            <td>{{address.state}}</td>
            <td>{{address.zipCode}}</td>
            <td>
                <button (click)="onEdit(address)" type="button" class="btn btn-sm btn-warning">Edit</button>
                <button (click)="onDelete(address)" type="button" class="btn btn-sm btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
