<h1>This is mobile component</h1>
<div></div>
<div></div>
<div class="mobile">
    <div><strong>Model  :</strong>{{mobile.model}}</div>
    <div><strong>Company:</strong>{{mobile.company}}</div>
    <div><strong>Price  :</strong>{{mobile.price}}</div>
    
    <h3>Configuration</h3>
    <div><strong>CPU    :</strong>{{mobile.configuration.cpu}}</div>
    <div><strong>GPU    :</strong>{{mobile.configuration.gpu}}</div>
    <div><strong>RAM    :</strong>{{mobile.configuration.ram}}</div>
    <div><strong>Storage:</strong>{{mobile.configuration.storage}}</div>
</div>
