h1{
    color: indianred;
}
h3{
    color: black;
}
strong{
    color: black;
}
div{
    color: darkgray;
}
div.mobile{
    border: solid 4px blue;
    padding: 20px;
    width: 250px;
    background-color: cornsilk;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px #2178EB;
}