<h3 class="header">Products</h3>
<button (click)="onAdd()" class="btn btn-info float-right" style="margin-bottom: 20px;">Add</button>
<table class="table table-striped table-hover table-borderd">
    <thead>
        <tr>
            <th>No</th>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Description</th>
            <th style="width: 140px;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <th>{{ i + 1 }}</th>
            <td>
                <img class="product-thumbnail" src="http://localhost:4433/product/image/{{product.imageFile}}" alt="Image">
            </td>
            <th>{{product.title}}</th>
            <th>{{product.price}}</th>
            <th>{{product.categoryTitle}}</th>
            <th>{{product.brandTitle}}</th>
            <th>{{product.description}}</th>
            <th>
                <button (click)="onEdit(product)" type="button" class="btn btn-sm btn-warning">Edit</button>
                <button (click)="onDelete(product)" type="button" class="btn btn-sm btn-danger" style="margin-left: 10px;">Delete</button>
            </th>
        </tr>
    </tbody>
</table>