<div class="modal-header">
    <h3 >Update Address</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Title</label>
            <input [(ngModel)]="title" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">ZipCode</label>
            <input [(ngModel)]="zipCode" type="text" class="form-control">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Line1</label>
            <input [(ngModel)]="line1" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">Line2</label>
            <input [(ngModel)]="line2" type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="">City</label>
            <input [(ngModel)]="city" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">State</label>
            <input [(ngModel)]="state" type="text" class="form-control">
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="form-group">
        <button (click)="onUpdate()" type="button" class="btn btn-success">Update</button>
        <button (click)="onCancel()" type="button" class="btn btn-danger float-right" style="margin-left: 10px;">Cancel</button>
    </div>
</div>