<h3 class="header">Product Info</h3>

<div class="row" *ngIf="product != undefined">
    <div class="col-md-4">
        <img src="http://localhost:4444/product/image/{{product.imageFile}}" class="card-img-top" alt="...">
    </div>
    <div class="col-md-8">
        <h5>{{product.title}}</h5>
        <div class="brand"><strong>Brand: </strong>{{product.brandTitle}}</div>
        <div class="category"><strong>Category: </strong>{{product.categoryTitle}}</div>
        <div class="price"><strong>Price: ₹</strong> {{product.price}}</div>
        <div class="description"><strong>Description: </strong>{{product.description}}</div>

        <hr>
        <div class="form">
            <div class="form-group">
                <label for="">Review</label>
                <textarea [(ngModel)]="review" rows="2" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <ngb-rating (hover)="rating=$event" [max]="5"></ngb-rating>
            </div>
            <div class="form-group">
                <button (click)="onSubmitReview()" class="btn btn-info float-right">Submit</button>
            </div>
        </div>
        <hr>
        <div *ngFor="let review of reviews">
            <div><strong>{{review.firstName}}</strong> <strong>{{review.lastName}}</strong></div>
            <ngb-rating [rate]="review.rating" [readonly]="true" [max]="5"></ngb-rating>
            <p>{{review.review}}</p>
            <div style="color: gray;">{{review.created_on.split('T')[0]}}</div>
        </div>
    </div>
</div>