<h2>First Component</h2>
<div class="container ">
    <h4>List of properties</h4>
    <div><strong>Name:</strong>{{personName}}</div>
    <div><strong>Age:</strong>{{personAge}}</div>
    <div><strong>Address:</strong>{{personAddress}}</div>
    <div><strong>Phone:</strong>{{personPhone}}</div>
</div>
<hr>
<div class="container">
    <h4>Object</h4>
    <div><strong>Name:</strong>{{person.name}}</div>
    <div><strong>Age:</strong>{{person.age}}</div>
    <div><strong>Address:</strong>{{person.address}}</div>
    <div><strong>Phone:</strong>{{person.phone}}</div>
    <div><strong>Phone:</strong>{{person.email}}</div>
</div>
