<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MyStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item ">
        <a class="nav-link" routerLink="/product-list">Products</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/category-list">Category</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/brand-list">Brands</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/user-list">Users</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/order-list">Orders</a>
      </li>

    </ul>
    <div class="my-2 my-lg-0">
      <button (click)="onLogout()" class="btn btn-outline-success my-2 my-sm-0">LogOut</button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>