<h3 class="header">Products</h3>
<div class="row">

    <!-- filter section -->
    <div class="col-md-3">
        <div class="form">
            <div class="form-group">
                <label for="">Category</label>
                <select (change)="filterProduct()" [(ngModel)]="categoryId" class="form-control">
                    <option value="0">All</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Brands</label>
                <select (change)="filterProduct()" [(ngModel)]="brandId" class="form-control">
                    <option value="0">All</option>
                    <option *ngFor="let brand of brands" [value]="brand.id">{{brand.title}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- product section -->
    <div class="col-md-9">
        <h3 class="header" *ngIf="products.length == 0">There are no products matching this criteria</h3>
        <div *ngIf="products.length > 0" class="row">
            <div class="card product" *ngFor="let product of products">
                <img src="http://localhost:4444/product/image/{{product.imageFile}}" class="card-img-top" alt="...">
                <h5 (click)="showProductDetails(product)">{{product.title}}</h5>
                <div class="description">{{product.description}}</div>
                <div class="brand"><strong>Brand: </strong>{{product.brandTitle}}</div>
                <div class="category"><strong>Category: </strong>{{product.categoryTitle}}</div>
                <div class="price"><strong>Price: ₹</strong> {{product.price}}</div>
                <button (click)="onAddToCart(product)" class="btn btn-sm btn-info btn-add-to-cart">Add To Cart</button>
              </div>
        </div>
    </div>
</div>