.product{
    border: gray solid 2px;
    box-shadow: 0 0 10px 2px #ccc;
    border-radius: 10px;
    width: 15rem;
    margin: 10px;
    background-color: cornsilk;
}
.product img{
    width: 12rem;
    height: 13rem;
    margin: 2px;
}
.btn-add-to-cart{
    border-radius: 7px;
}
h5{
    cursor: pointer;
}