<h3 class="header">Sign Up</h3>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form signup">
            <div class="form-group">
                <label for="">First Name</label>
                <input [(ngModel)]="firstName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input [(ngModel)]="lastName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Mobile</label>
                <input [(ngModel)]="phone" type="tel" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <input [(ngModel)]="confirmpassword" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button (click)="onSignup()" class="btn btn-info">SignUp</button>
                <a routerLink="/auth/signin" class="btn btn-info float-right">SignIn</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
